<style>
    header.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

header img {
    height: 120px;
    margin-right: 15px; 
}
</style>

<header class="text-center py-2 mb-3 logo">
    <img src="https://tottingtonunitedfc.com/wp-content/uploads/2022/04/LogoTUFC-.png" />
    <div class="title">
        <h1>Match Analysis</h1>
        <p class="fs-4 fst-italic">Totty United</p>
    </div>
</header>