{{> header title=title page="Timeline" videoLink=data.videoLink}}

<div class="container">
    <p><a href="/">â† Back to Match List</a></p>
{{#each data.segments}}
{{> segmentTimeline segment=this videoLink=../data.videoLink}}
{{/each}}
</div>