{{> header title=title page="Timeline" videoLink=videoLink hasTimestamps=hasTimestamps}}

<div class="container">
    <p><a href="/">← Back to Match List</a></p>
    {{#each segments}}
        <h3 class="timeline-header">
            {{#if ../videoLink}}
            <a href="{{../videoLink}}#t={{videoStartTime}}" target="_blank">
            {{/if}}
            {{name}}
            {{#if ../videoLink}}
            </a>
            {{/if}}
        </h3>

        <div class="row timeline">
            {{#each events}}
                <div class="col-2 d-none d-lg-flex"></div>
                <div class="col-5 col-lg-3 home">
                    {{#if isHome}}
                        {{> timelineEvent videoLink=../../videoLink videoTime=videoTimestamp matchTime=timestamp statType=stat.name outcome=outcome.name isGoal=stat.isGoal}}
                    {{/if}}
                </div>
                <div class="col-2 timeline"></div>
                <div class="col-5 col-lg-3 away">
                    {{#unless isHome}}
                        {{> timelineEvent videoLink=../../videoLink videoTime=videoTimestamp matchTime=timestamp statType=stat.name outcome=outcome.name isGoal=stat.isGoal}}
                    {{/unless}}
                </div>
                <div class="col-2 d-none d-lg-flex"></div>
            {{/each}}
        </div>
    {{/each}}
</div>