{{> matchHeader title=title page="Stats" videoLink=videoLink hasTimestamps=hasTimestamps hideNav=hideNav}}

<div class="container">
    <p><a href="/">â† Back to Match List</a></p>
{{#each segments}}
<h2 class="mt-3 text-center">{{name}}</h2>
{{> statTable homeTeam=../homeTeam awayTeam=../awayTeam stats=stats}}
{{/each}}
</div>